<section id="services" class="py-5 text-center">
    <div class="container">
      <h2 class="mb-4">Our Services</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="\images\training.jpg" class="card-img-top" alt="Routine">
              <h5 class="card-title">Personal Routine</h5>
              <p class="card-text">Customized training programs to achieve your fitness goals.</p>
              <a href="/trainings" class="btn btn-service">Explore Routine</a> <!-- Botón -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="\images\diet.png" class="card-img-top" alt="Nutrition">
              <h5 class="card-title">Nutrition Plans</h5>
              <p class="card-text">Healthy meal plans to complement your workouts.</p>
              <a href="/nutritions" class="btn btn-service">Explore Nutrition</a> <!-- Botón -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>